@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

body.bg-custom {
  background-image: url("/background.svg");
  background-size: cover; /* Adjust as needed: 'cover', 'contain', 'auto', etc. */
  background-repeat: no-repeat;
  background-position: center; /* Adjust as needed: 'center', 'top', 'bottom', etc. */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
